<center>
<h1>Comandos Para Telegram</h1> 
<table border cellpadding=10 cellspancing =10>
<tr>
<td>Comando</td> <td>Concepto</td>
</tr>
<tr>
<td>/ yo soy nombre</td> <td>envia un mesaje de saludo con el nombre que ingresamos </td>
</tr>
<tr>
<td>/ foto nombre </td> <td> envia la imagen estabecida</td>
</tr>

<tr>
<td>/ubiccion lugar</td> <td>Envia el mapa con la ubicacion</td>
</tr>
<tr>
<td>/ audio nombre</td> <td>Envia el audio configurado</td>
</tr>
</table>
</center>
